<h1><%= t("views.static_pages.about.about")%></h1>
<p><%= raw t("views.static_pages.about.about_t",
 rail_t: link_to(t("views.static_pages.rail_t"), "http://www.railstutorial.org/"),
 book: link_to(t("views.static_pages.about.book"), "http://www.railstutorial.org/book"),
 screens: link_to(t("views.static_pages.about.screens"), "http://screencasts.railstutorial.org"),
 ruby_on_rail: link_to(t("views.static_pages.about.ruby_on_rail"), "http://rubyonrails.org"))%>
</p>
